*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* contactinfo css */
h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: #FFF;
}
h2::after
{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #FFF;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.container i:hover{
    /* color: #fff; */
   
    transition: 1s ease;
    transform: rotate(360deg);
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #FFF;
}
.contact .content p {
    font-weight: 300;
    color: #FFF;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
     width: 50%;
     display: flex;
     flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 10px;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #FFF;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

/* contactfoam css */

.contactfoam{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactfoam h2 {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}
.contactfoam .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactfoam .inputbox input ,
.contactfoam .inputbox textarea {
    width: 100%;
    padding: 0px 5px;
    font-size: 16px;
    margin: 20px 0px;
    border: none;
    border-bottom: 2px solid  #333;
    outline: none;
    resize: none;
}
.contactfoam .inputbox span{
    position: absolute;
    left: 0px;
    padding: 0px 5px;
    font-size: 16px;
    margin: 20px 0px;
    pointer-events: non;
    transition: 0.5s;
    color: #666;
}  
.contactfoam .inputbox input:focus ~ span ,
.contactfoam .inputbox input:valid ~ span ,
.contactfoam .inputbox textarea:focus ~ span ,
.contactfoam .inputbox textarea:valid ~ span 
{
    color: #e91e63;
    font-size: 16px;
    transform: translateY(-20px);
}
.contactfoam .inputbox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width:911px)
{
    .contact{
        padding:50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;
    }
    .container .contactinfo ,
    .contactfoam {
        width: 100%;
    }
}








    


















